.layout {
    height: 512px;
    margin: 48px 96px;
}

.left-side {    
    width: 512px;
}

.credit-card {
    background-color: red;
    border-radius: 16px;
    color: white;
    height: 192px;
    margin-bottom: 178px;
    padding: 40px;
    width: 316px;
}

.card-info {
    line-height: 40px;
    margin-top: auto;
    margin-right: 32px;
}

.more-card-info {
    line-height: 0;
    margin-right: 16px;
}

.visa-div {
    align-self: flex-start;
    background-color: white;
    height: 48px;
    position: relative;
    bottom: 24px;
    left: 24px;
}

.fa-cc-visa {
    color: red;
    font-size: 64px;
    position: relative;
    bottom: 8px;
}

p {
    font-size: 8px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

.right-side {
    height: 512px;
}

form {
    height: 512px;
    justify-content: space-between;
}

label {
    font-size: 12px;
    margin-bottom: 12px;
}

input {
    border: none;
    border-bottom: 1px solid red;
    margin-right: 32px;
    width: 96px;
    position: relative;
    right: 20px;
    margin: 4px;
}

.large-input {
    right: 24px;
    width: 400px;
}


.far, .fas {
    color: red;
    font-size: 16px;
    z-index: 10;
}

.button {
    border-radius: 8px;
    border-color: red;
    background-color: red;
    color: white;
    font-size: 16px; 
    margin: 32px;
    padding: 12px 64px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}